
.search {
    margin-top: 30px;
    position: relative;
    right: -324px;
    color: #91C6FC;
    width: 24px;
    height: 24px;
}

.barra_pesquisa {
    position: relative;
    left: 25px;
    width: 260px;
    height: 40px;
    border-radius: 20px;
    top: -10px;
    font-size: 12px;
}

input.barra_pesquisa {
    padding-left: 20px;
    padding-right: 20px;
}

.createPost {
    position: fixed;
    --background: #b7f399;
    --background-activated: #87d361;
    --color: black;
    top: 91%;
    left: 80%;
}

.postCards {
    margin: 15px;
}


header {
    background-image: url('/assets/img/capaFilmesIonic.png');
}