<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons class="ion-margin-start" slot="start">
      <ion-icon style="font-size: 36px;" name="caret-forward-circle-outline"></ion-icon>
    </ion-buttons>
    <ion-title>
      Listas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let filme of filmesVerMaisTarde">
      <ion-thumbnail slot="start">
        <img [src]="filme.imagem" alt="Capa do Filme">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ filme.tituloYear }}</h2>
        <p>{{ filme.username }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>