.toolbar {
    background-color: black;
}

.capa {
    width: 120px;
    height: 160px;
    margin-top: 0px;
    border-radius: 5px;
    position: relative;
    margin-left: 10px;
}

.titulo {
    color: black;
    font-size: 20px;
}

.trash {
    color: red;
}

.roundHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 217px;
    border-radius: 67px;
    background-color: #91C6FC;
    padding: 20px;
}


.verMaisTardeTituloContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.verMaisTardeTitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 67px;
    background-color: #91C6FC;
    width: 224px;
    height: 34px;
    font-size: 20px;
}

.verMaisTardeLista {
    border-radius: 67px;
    margin-bottom: 10px;
}