.capa {
    width: 120px;
    height: 160px;
    margin-top: 0px;
    border-radius: 5px;
    position: relative;
    margin-left: 10px;
}

.titulo {
    color: black;
    font-size: 20px;
}

.trash {
    color: red;
}

.roundHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 217px;
    border-radius: 67px;
    background-color: #91C6FC;
    padding: 20px;
}

.total-movies {
    font-size: 16px;
    position: relative;
    top: -15px;
    left: 5px;
    color: #91C6FC;
    white-space: nowrap;
}

.verMaisTardeTitulo {
    color: white;
    position: relative;
    left: 50px;
    font-size: 22px;
    top: 20px;
    margin-bottom: 10px;
}