<ion-content [fullscreen]="true">
  <ion-header>
    <ion-title>Ver Mais Tarde</ion-title>
  </ion-header>
  <ion-list>
    <ion-item *ngFor="let filme of filmesVerMaisTarde">
      <ion-thumbnail slot="start">
        <img [src]="filme.imagem" alt="Capa do Filme">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ filme.tituloYear }}</h2>
        <p>{{ filme.username }}</p>
      </ion-label>
      <ion-icon name="trash-outline" class="trash" (click)="removerFilme(filme)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>