.login {
    color: white;
}

.inputCostumization {
    width: 240px;
    height: 40px;
    margin-bottom: 20px;
    --background: white;
    --border-radius: 67px;
    --color: grey;
    text-align: left;
}

#loginButton {
    width: 240px;
    height: 40px;
    margin: 0 auto;
}

.center {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center ion-input{
    --padding-start: 20px;
    --padding-end: 20px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
 }

 .sign{
    color: white;
    position: relative;
    left: 4px;
 }