<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon aria-hidden="true" name="home-outline" class="icons"></ion-icon>
      <ion-label class="labels">Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon aria-hidden="true" name="time-outline" class="icons"></ion-icon>
      <ion-label class="labels">Novo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon aria-hidden="true" name="star-outline" class="icons"></ion-icon>
      <ion-label class="labels">Destaques</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon aria-hidden="true" name="heart-outline" class="icons"></ion-icon>
      <ion-label class="labels">Listas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon aria-hidden="true" name="people-outline" class="icons"></ion-icon>
      <ion-label class="labels">Fóruns</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>