.toolbar {
    --background: #000000;
    height: 80px;
}

.commentCards {
    margin: 15px;
}

.comment{
    margin-top: 30px;
    position: fixed;
    left: 80%;
    color: black;
    width: 24px;
    height: 24px;
    top: 89.5%;
    z-index: 1;
}

.barra_comentario {
    position: fixed;
    left: 10%;
    width: 80%;
    background-color: #6E96BE;
    max-width: 100%;
    height: 40px;
    border-radius: 20px;
    top: 93%;
    font-size: 12px;
}

input.barra_comentario {
    padding-left: 20px;
    padding-right: 40px;
  }

