<ion-header [translucent]="true">
  <ion-toolbar class="toolbar"> 
    <ion-text class="total-movies">
      Total Movies
    </ion-text>
    <ion-buttons slot="end">
      <ion-icon name="search-outline" class="search-icon" routerLink = "/pesquisa" ></ion-icon>
      <ion-icon name="person-outline" class="other-icons"></ion-icon>
      <ion-icon name="notifications-outline" class="other-icons"></ion-icon>
      <ion-icon name="settings-outline" class="other-icons"></ion-icon>
      <img src="src/assets/img/" class="small-image">
      <img src="assets/img/netflix.png" class="small-image">
      <img src="assets/img/hbo.png" class="small-image">
      <img src="assets/img/disney+.png" class="small-image">
      <img src="assets/img/primevideo.png" class="small-image">
      <img src="assets/img/.png" class="small-image">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="genre">Ação</h1>
  <div class="image-container">
    <ion-grid [fixed]="true">
      <ion-row class="container_scroll">
  <img src="assets/img/uncharted.jpg" class="capa">
  <img src="assets/img/Black_Adam.jpg" class="capa">
  <img src="assets/img/velocidadefuriosa9.jpg" class="capa">
  <img src="assets/img/uncharted.jpg" class="capa">
  <img src="assets/img/Black_Adam.jpg" class="capa">
  <img src="assets/img/velocidadefuriosa9.jpg" class="capa">
  </ion-row>
  </ion-grid> 
</div>
<br>
  <h1 class="genre">Drama</h1>
  <div class="image-container">
    <ion-grid [fixed]="true">
      <ion-row class="container_scroll">
  <img src="assets/img/alfaiate.jpg" class="capa">
  <img src="assets/img/casagucci.png" class="capa">
  <img src="assets/img/banqueiroo.jpg" class="capa">
  <img src="assets/img/alfaiate.jpg" class="capa">
  <img src="assets/img/casagucci.png" class="capa">
  <img src="assets/img/banqueiroo.jpg" class="capa">
</ion-row>
</ion-grid> 
</div>

<h1 class="genre">Drama</h1>
<div class="image-container">
  <ion-grid [fixed]="true">
    <ion-row class="container_scroll">
<img src="assets/img/alfaiate.jpg" class="capa">
<img src="assets/img/casagucci.png" class="capa">
<img src="assets/img/banqueiroo.jpg" class="capa">
<img src="assets/img/alfaiate.jpg" class="capa">
<img src="assets/img/casagucci.png" class="capa">
<img src="assets/img/banqueiroo.jpg" class="capa">
</ion-row>
</ion-grid> 
</div>

<h1 class="genre">Drama</h1>
<div class="image-container">
  <ion-grid [fixed]="true">
    <ion-row class="container_scroll">
<img src="assets/img/alfaiate.jpg" class="capa">
<img src="assets/img/casagucci.png" class="capa">
<img src="assets/img/banqueiroo.jpg" class="capa">
<img src="assets/img/alfaiate.jpg" class="capa">
<img src="assets/img/casagucci.png" class="capa">
<img src="assets/img/banqueiroo.jpg" class="capa">
</ion-row>
</ion-grid> 
</div>

<h1 class="genre">Drama</h1>
<div class="image-container">
  <ion-grid [fixed]="true">
    <ion-row class="container_scroll">
<img src="assets/img/alfaiate.jpg" class="capa">
<img src="assets/img/casagucci.png" class="capa">
<img src="assets/img/banqueiroo.jpg" class="capa">
<img src="assets/img/alfaiate.jpg" class="capa">
<img src="assets/img/casagucci.png" class="capa">
<img src="assets/img/banqueiroo.jpg" class="capa">
</ion-row>
</ion-grid> 
</div>

</ion-content>