 .search-icon{
  margin-top: -30px;
  position: relative;
  left: 35px;
  color: #91C6FC;
}

.exit{
  margin-top: -30px;
  position: relative;
  left: 212px;
  margin-right: 5px;
  height: 20px;
  width: 20px;
}

.genre{
  font-size: 16px;
  color: white;
  position: relative;
  left: 20px;
}

.image-container {
  display: flex;
}
  
.capa{
  width: 90px;
  height: 120px;
  margin-right: 10px;
  border-radius: 5px;
  position: relative;
  top: 10px;
  left: 20px;
}

.container_scroll{
  flex-wrap: nowrap;
  overflow-x: scroll!important;
  overflow-y: hidden;
  width: 100%;
}

.username{
  color: white;
  position: relative;
  left: 50px;
  font-size: 22px;
  top: 20px;
}

.scroll-wrapper {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.container_scroll {
  overflow-x: auto;
  white-space: nowrap;
}
    
.clear-row {
  clear: both;
}

#logOutButton {
  width: 96px;
  height: 16px;
}

