<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-text class="total-movies">Total Movies</ion-text>
    <ion-buttons slot="end">
      <ion-icon name="search-outline" class="search-icon" routerLink="/pesquisa"></ion-icon>
      <ion-icon name="person-outline" class="icons"></ion-icon>
      <ion-icon name="notifications-outline" class="icons"></ion-icon>
      <ion-icon name="settings-outline" class="icons"></ion-icon>
      <ion-icon color="danger" name="exit-outline" class="exit" (click) = "confirmLogout()" ></ion-icon>
      <img src="assets/img/all.jpg/" class="small-image">
      <img src="assets/img/netflix.png" class="small-image">
      <img src="assets/img/hbo.png" class="small-image">
      <img src="assets/img/disney+.png" class="small-image">
      <img src="assets/img/primevideo.png" class="small-image">
      <img src="assets/img/plus.png" class="small-image">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text class="username">Bem-vindo, {{ username }}</ion-text>
  <br><br><br><br>
  <div class="scroll-container">
    <ion-grid>
      <ng-container *ngFor="let genreGroup of groupedMovies">
        <ion-row class="scroll-row">
          <ion-col size="auto" class="genre">
            {{ genreGroup.genre }}
          </ion-col>    
          <div class="movie-container">
            <ng-container *ngFor="let movie of genreGroup.movies">
              <ion-col size="auto">
                <ion-card button="true" class="capa" (click)="redirecionarFilme(movie)">
                  <img [src]="movie.img" class="button">
                </ion-card>
              </ion-col>
            </ng-container>
          </div>
        </ion-row>
      </ng-container>
    </ion-grid>
  </div>
</ion-content>