.exit {
  margin-top: -30px;
  position: relative;
  left: 230px;
  margin-right: 5px;
  height: 22px;
  width: 22px;
}

.genre {
  font-size: 16px;
  color: white;
  position: relative;
  left: 20px;
  margin-bottom: 10px; /* Adiciona espaçamento inferior */
}

.capa {
  width: 90px;
  height: 120px;
  margin-right: 10px;
  border-radius: 5px;
}

.username {
  color: white;
  position: relative;
  left: 50px;
  font-size: 22px;
  top: 20px;
}

.clear-row {
  clear: both;
}

.icons {
  margin-top: -30px;
  position: relative;
  left: 226px;
  color: #91C6FC;
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

.scroll-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
}

.scroll-row {
  display: flex;
  flex-wrap: wrap; /* Alterado para wrap */
  align-items: flex-start; /* Ajusta alinhamento vertical */
}

.movie-container {
  display: flex;
  gap: 10px;
  margin-top: 10px; /* Adiciona espaçamento superior */
}


