.button {
  height: 140px;
  width: 100px;
  border-radius: 5px;
}

.capa {
  width: 100px;
  height: 140px;
  margin-top: 15px;
  border-radius: 5px;
  position: relative;
  margin-left: 10px;
}

.ion-margin {
  margin: 10px;
}

.destaques{
  color: white;
  position: relative;
  left: 50px;
  font-size: 22px;
  top: 20px;
}



 
