<ion-header [translucent]="true">
  <ion-toolbar class="toolbar"> 
    <ion-icon name="search-outline" class="search-icon" (click)="pesquisar()"></ion-icon>
    <input type="text" placeholder="Busca por filmes, séries..." class="barra_pesquisa" [(ngModel)]="termoBusca">
    <ion-icon name="arrow-back-outline" class="back-icon" routerLink="/tabs/tab1"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col>
        <h2 *ngIf="filmesEncontrados.length > 0" class="resultado">Resultados da pesquisa: {{ termoBusca }}</h2>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let movie of filmesEncontrados">
      <ion-col size="4">
        <img *ngIf="movie.img" [src]="movie.img" class="capa" (click)="redirecionarFilme(movie)">
      </ion-col>
    </ion-row>
    <ion-row *ngIf="filmesEncontrados.length === 0">
      <ion-col>
        <p class="resultado">Nenhum filme encontrado.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>