<ion-header [translucent]="true">
  <ion-toolbar class="toolbar"> 
      <ion-icon name="search-outline" class="search-icon" (click)="Pesquisa()"></ion-icon>
        <input type="text" placeholder="Busca por filmes, séries..." class ="barra_pesquisa" id="inputBusca">
        <ion-icon name="arrow-back-outline" class="back-icon" routerLink = "/tabs/tab1"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
</ion-content>
