<ion-header>
</ion-header>

<ion-content>
  <div class="center" style="margin-top: 2cm;">
    <app-logo></app-logo>
  </div>
  <div class="center" style="margin-top: 2cm;">
    <h1 class="signup">Criar conta</h1>
  </div>
  <br><br>

  <form>
    <ion-button>
      <ion-input type="text" name="fullname" [(ngModel)]="userdata.fullname" placeholder="Nome completo"></ion-input>
    </ion-button> 
    <ion-button> 
      <ion-input type="E-mail" name="email" [(ngModel)]="userdata.email" placeholder="E-mail"></ion-input>
    </ion-button> 
    <ion-button>  
      <ion-input type="text" name="username" [(ngModel)]="userdata.username" placeholder="Nome de usuário"></ion-input>
    </ion-button>
    <ion-button>
      <ion-input type="password" name="password" [(ngModel)]="userdata.password" placeholder="Palavra-passe"></ion-input>
    </ion-button>
    <br>
      Já tens conta? <a routerLink="/login"> Inicia sessão</a>
<ion-button type="button" expand="block" shape="rounded" color="primary" (click)="Register()">Registar</ion-button>
</form>

</ion-content>
