<ion-header>
</ion-header>

<ion-content>
  <div class="center" style="margin-top: 2cm;">
    <app-logo></app-logo>
  </div>
  <div class="center" style="margin-top: 2cm;">
    <h1 class="signup">Criar conta</h1>
  </div>
  <br><br>

  <form class="center">
    <ion-input type="text" name="fullname" [(ngModel)]="userdata.fullname" placeholder="Nome completo" class="inputCostumization"></ion-input>
    <ion-input type="E-mail" name="email" [(ngModel)]="userdata.email" placeholder="E-mail" class="inputCostumization"></ion-input>
    <ion-input type="text" name="username" [(ngModel)]="userdata.username" placeholder="Nome de usuário" class="inputCostumization"></ion-input>
    <ion-input type="password" name="password" [(ngModel)]="userdata.password" placeholder="Palavra-passe" class="inputCostumization"></ion-input>
  </form>
  <div class="link">
    <br>
    Já tens conta? <a routerLink="/login"> Inicia sessão</a>
  </div>
  <ion-button type="button" expand="block" shape="round" color="primary" (click)="Register()" class="center" id="registerButton">Registar</ion-button>

</ion-content>
