<ion-content [fullscreen]="true">
  <ion-icon name="arrow-back-outline" class="back-icon" (click)="voltar()"></ion-icon>
  <ion-grid class="ion-margin" *ngIf="movie">
    <ion-row>
      <ion-col size="12">
        <ion-card button="true">
          <img [src]="movie.big_img">
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <img [src]="movie.img" class="capa">
      </ion-col>
    </ion-row>
    <ion-col class="titulo info">{{ movie.title_year }}</ion-col>
    <ion-row class="imdb info">{{ movie.imdb_rating }}</ion-row>
    <img src="assets/img/imdb_logo.png" class="logo_imdb info">
    <br>
    <ion-text class="duracao">Duração:</ion-text>
    <ion-text class="duration info">{{ movie.duration }}</ion-text>
    <br>
    <ion-text class="genero info">Género:</ion-text>
    <ion-text class="genre info">{{ movie.genre }}</ion-text>
    <br>
    <ion-text class="transmissao info">Disponível em:</ion-text>
    <img [src]="movie.channel" class="channel info">
    <br>
    <ion-button class="botao info" (click)="adicionarVerMaisTarde()">+ Ver mais tarde</ion-button>
    <br>
    <ion-text class="sinopse info">Sinopse</ion-text>
    <br>
    <ion-text class="synopsis info">{{ movie.synopsis }}</ion-text>
    <br>
    <ion-text class="trailer info">Trailer:</ion-text>
    <iframe width="360" height="315" [src]="safeVideoUrl" frameborder="0" allowfullscreen></iframe>
    <iframe width="360" height="315" src="https://www.youtube.com/embed/{{ movie.video }}" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" [src]="movie.video" frameborder="0" allowfullscreen></iframe>
    <iframe width="360" height="360" src="{{ movie.video }}" frameborder="0" allowfullscreen></iframe>
    <iframe width="360" height="360" src="" frameborder="0" allowfullscreen></iframe>
  </ion-grid>
</ion-content>

