<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{valorRecebido}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab3"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card button ='true' class="trailer">
          <img src="assets/img/uncharted2.png">
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4"><img src="assets/img/uncharted.jpg" class="capa"></ion-col>
      <ion-grid>
        <ion-row>
          <ion-col size="10"></ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
  </ion-grid>

  

  
</ion-content>
