.capa{
    width: 120px;
    height: 160px;
    margin-top: 0px;
    border-radius: 5px;
    position: relative;
    margin-left: 10px;
}

.trailer{
     width: auto;
    height: auto;
    margin-top: 5px;
    border-radius: 5px;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
  }

  .toolbar {
    --background: #000000 ;
    height: 90px;
  }

  .titulo{
    position: relative;
    top: -170px;
    left: 130px;
    color: #FFFFFF;
    font-size: 14px;
  }

  .imdb{
    position: relative;
    top: -170px;
    left: 135px;
    color: #FFFFFF;
    font-size: 12px;
  }

  .logo_imdb{
    width: 22px;
    height: 16px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px;
    position: relative;
    left: 158px;
    top: -205px;
  }


  .genero{
    color: #FFFFFF;
    width: 22px;
    height: 16px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px;
    position: relative;
    left: 20px;
    top: -180px;
    font-size: 16px;
    
  }

  .genre{
    color: #FFFFFF;
    width: 22px;
    height: 16px;
    object-fit: cover;
    margin-right: 10px;
    margin-top: 45px;
    position: relative;
    left: 12px;
    top: -170px;
    font-size: 12px;
    
  }

  .duracao{
    color: #FFFFFF;
    width: 22px;
    height: 16px;
    object-fit: cover;
    margin-right: 10px;
    position: relative;
    left: 134px;
    top: -210px;
    font-size: 12px;
  }

  .duration{
    color: #FFFFFF;
    width: 22px;
    height: 16px;
    object-fit: cover;
    margin-right: 10px;
    position: relative;
    left: 128px;
    top: -210px;
    font-size: 12px;
  }

  .botao{
    margin-top: 160px;
    width: 120px;
    height: 30px;
    font-size: 12px;
    position: relative;
    top: -214px;
    left: 130px;
    margin-right: 10px;
    
  }

  .transmissao{
    color: #FFFFFF;
    width: 22px;
    height: 16px;
    object-fit: cover;
    margin-right: 10px;
    position: relative;
    left: 134px;
    top: -222px;
    font-size: 12px;
    white-space: nowrap;
  }
  
  .channel{
      width: 20px;
      height: 20px;
      object-fit: cover;
      margin-right: 10px;
      border-radius: 5px;
      margin-top: 41px;
      position: relative;
      left: 140px;
      top: -206px;
    }

  .sinopse{
    color: #FFFFFF;
    width: 22px;
    height: 16px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px;
    position: relative;
    left: 20px;
    top: -150px;
    font-size: 16px;
  }

  .synopsis {
    color: #FFFFFF;
    margin-right: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 45px;
    position: relative;
    right: -10px;
    top: -140px;
    font-size: 12px;
}


.trailer {
  color: #FFFFFF;
  width: auto;
  height: auto;
  object-fit: cover;
  margin-right: 20px;
  margin-bottom: 10px;
  position: relative;
  left: 20px;
  top: -120px;
  font-size: 16px;
  white-space: normal;
}

  .info {
    margin: 10px 0; /* Define uma margem de 10px no topo e na parte inferior e 0 nas laterais */
    white-space: normal;
    max-width: 50%;
    
  }

  ion-content{
    max-width: 100%;
    overflow-x: hidden;
  }
