/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

:root{
  //--gradiente: linear-gradient(to bottom, #000000, #91C6FC);
  --gradiente: linear-gradient(153.21deg, #000000 1.34%, #6E96BE 96.21%, #91C6FC 96.22%);
}

ion-content {
    --background: var(--gradiente);
  }

  form{
    --background: var(--gradiente);
  }

.toolbar{
  --background: #000000 ;
  height: 120px;
}

.small-image {
  width: 25px;
  height: 25px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 5px;
  margin-top: 65px;
  position: relative;
  right: 140px;  
}

.search_pages{
  margin-top: -30px;
  position: relative;
  left: 10px;
  color: #91C6FC;
}

.other-icons{
  margin-top: -30px;
  position: relative;
  left: 210px;
  color: #91C6FC;
  margin-right: 5px;
}

.total-movies {
  font-size: 16px; 
  position: relative;
  top: -15px;
  left: 5px;
  color: #91C6FC;
  white-space: nowrap;
 }

 .back-icon{
  position: relative;
  width: 30px;
  height: 30px;
  left: 20px;
  top: 20px;
  color: white;
}

.logo{
    font-size: 16px;
    position: relative;
    top: -12px;
    left: 5px;
    color: #91C6FC;
    white-space: nowrap;
}
