.botao-nome{
    background-color: #ffffff;
    color: #D0D0D0;

  }

  .botao-password{
    background-color: #ffffff;
    color: #D0D0D0;

  }

  .botao-entrar{
    background-color: #91C6FC;
    color: #ffffff;
    border-radius: 20px;
    font-size: 12px;
    margin-top: 160px;
  }

  