<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Iniciar sessão
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Iniciar sessão</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="IHMForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item lines="full">
      <ion-button type="submit" color="light" expand="block">
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" formControlName="nome" required></ion-input>
    </ion-button>
    </ion-item>
    <ion-text class="ion-padding" color="danger" *ngIf="isSubmitted && IHMForm.controls['nome'].errors?.['required']">
      Nome é de preenchimento obrigatório
    </ion-text>
    <ion-text class="ion-padding" color="danger" *ngIf="isSubmitted && IHMForm.controls['nome'].errors?.['minlength']">
      Nome deverá ter pelo menos 2 caracteres
    </ion-text>

      <ion-item lines="full">
        <ion-button type="submit" color="light" expand="block">
        <ion-label position="floating">Palavra-passe</ion-label>
        <ion-input type="pass" formControlName="nome" required></ion-input>
        </ion-button>
      </ion-item>
      <ion-text class="ion-padding" color="danger" *ngIf="isSubmitted && IHMForm.controls['nome'].errors?.['required']">
        Palavra-passe é de preenchimento obrigatório
      </ion-text>
      <ion-text class="ion-padding" color="danger" *ngIf="isSubmitted && IHMForm.controls['nome'].errors?.['minlength']">
        Palavra-passe deverá ter pelo menos 2 caracteres
      </ion-text>


    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Entrar</ion-button>
      </ion-col>
    </ion-row>

    <ion-buttons slot="end">
      <ion-button routerLink="/registo">
        <ion-icon slot="icon-only" name="document-text-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </form>

</ion-content>


<!--
  Operador ?.
  operador de coalescência de nulos. Utilizado para verificar se o objeto à esquerda 
  é nulo ou indefinido antes de aceder a propriedade à direita
-->